
#titulo{
    font-family: 'Roboto', sans-serif;
}

#imagen{
    width: 65%;
    height: 50%;
    margin-left: 35%;
}

#formulario{
   
    margin-left: 5%;
    box-shadow:0 0 40px -5px grey;
    padding:20px 30px;
    background: white;
    margin:calc(50vh - 320px) auto;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    
}
label{
    color: black;
}

#btnEnviar{
    font-weight: bold;
    color: white;
    padding: 12px 32px 12px 32px;
    background-color: #ff5e7c;
    border-color: #ff5e7c;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
}


